

.gridMenu-border{
    
    border: #642f16 2px solid;
    width: 100%;
    height: 100%;
    
    background: #574841;
    margin: 2.5%
}

.ui vertical .gridMenu-border menu{
    width: 50% !important
}

hr{
    border-color: white
}