footer {
    display: flex;
    justify-content: center;
    height: 5rem;
    font-size: 1.5rem;
    background-color: #574841; 
    color: #f0c8b6;
    padding-top: 20px; 
    width: 100%;
}
@media(max-width: 500px){
    footer{
  
        font-size: 1.3rem;
    }
}