footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 5rem;
    font-size: 1.5rem;
    background-color: #574841; 
    color: #f0c8b6;
    align-items: center;
    width: 100%;
}